:root {
  --main-color: #00A0E6;
  --point-color: #91BD2C;
  --text-color: #00001a;
  --gray-color: #737373;
  --dgray-color: #555555;
  --white-color: #E5F5FC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 806px;
  margin: auto;
  color: var(--text-color);
}


.header-description {
  height: 3px;
  padding-bottom: 30px;
}

.header-description {
  width: 806px;
  background-color: var(--main-color);
  color: var(--white-color);
}

.header-description h2 {
  float: left;
  font-size: 14px;
}

.header-description p {
  float: right;
  font-size: 14px;
}

.header-description p::after {
  content: "\2706";
}

.header-description span {
  font-size: 10px;
}

ul {
  list-style-type: none;
}

li {
  float: left;

}

.entrance {
  background-size: cover;
}

.entry-header {
  padding: 21px 19px 19px 19px;
  border-top: 3px solid darkslategray;
  border-bottom: 1px solid darkslategray;
}

.info img {
  float: left;
}


.address img {
  width: 100px;
  float: right;
}

.bigbird {
  width: 200px;
}