/* https://iro-color.com/colorchart/word/iro.php?q=5%E6%9C%88 */
:root {
  --main-color: #89bcd6;
  --point-color: #8fc31f;
  --text-color: #00001a;
  --gray-color: #9fa0a0;
  --dgray-color: #8da3c4;
  --white-bcolor: #d3edfb;
  --white-gcolor: #eefcf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  color: var(--text-color);
  font-family: "Kosugi", sans-serif;
}

header {
  width: 100%;
  height: 90px;
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.header-description {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: right;
}

.first-nav {
  /* width: 100%; */
  line-height: 4rem;
}

.first-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.first-nav ul li {
  margin-right: 2px;
  padding: 10px 15px;
  font-weight: 900;
}

.header-description > p {
  margin: 5px 5px 10px;
  font-size: 1.5rem;
  /* border: 2px solid var(--point-color); */
  border-radius: 10px;
  background-color: var(--white-gcolor);
}

.header-description > p > span {
  font-size: 4.1rem;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
  font-weight: 900;
  border-bottom: 3px solid var(--main-color);
}

.header-description > p > span::after {
  content: "\2706";
}

main {
  position: relative;
  height: 620px;
  background-image: url("../img/topimg.jpg");
  background-size: cover;
  background-position: top center;
}

.filter {
  -webkit-filter: brightness(172%) contrast(90%) saturate(110%);
  filter: brightness(172%) contrast(90%) saturate(110%);
}

main h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1000px;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-stretch: expanded;
  text-shadow: 2px 5px rgba(0, 0, 0, 0.7);
}

.second-nav {
  width: 100%;
}

.second-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

.second-nav ul li {
  padding: 10px 5px;
  border: 4px solid var(--point-color);
  font-size: 1.4rem;
  font-weight: 800;
}

.company {
  width: 90%;
  margin: 24px auto;
  padding: 40px;
  border: 3px outset var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.company-discription {
  width: 700px;
  line-height: 2.5;
}
.company-discription p {
  font-size: 1.4rem;
}
.company-photo figcaption {
  text-align: center;
}

footer {
  width: 100%;
  height: 50px;
  margin: auto;
  padding-top: 10px;
  text-align: center;
  background-color: var(--dgray-color);
  color: white;
  font-weight: 300;
}
